@import '../../styles/variables';

.model-page {
  $filter-size: 60px;
  max-width: 100%;
  width: 800px;
  padding: 4rem 2rem;
  margin: 0 auto;

  @media(max-width: $tablet) {
    padding: 3rem 1.5rem;
  }

  .accuracy-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    margin-top: 2rem;

    .accuracy-panel {
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
      background-color: $white;
      box-shadow: 1px 1px 6px rgba($gray-darker, 0.2);
      padding: 2rem 3rem;
      text-align: center;
      border-radius: 3px;

      &.top1 .accuracy-panel-score {
        color: $blue-light;
      }
      &.top3 .accuracy-panel-score {
        color: $green;
      }
      .accuracy-panel-title {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
      .accuracy-panel-score {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .architecture-section {
    margin-bottom: 4rem;
    img {
      width: 100%;
      margin-top: 1rem;
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  }

  .filters {
    text-align: center;
    padding-top: 1.5rem;
  }
  .filter {
    width: $filter-size;
    height: $filter-size;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
