@import './variables';

@mixin button($color, $border-color) {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: $white;
  border: 1px solid $border-color;
  color: $color;
  transition: all 0.25s ease-out;
  padding: 0.5rem 0.8rem;

  &:hover, &:active {
    color: $white;
    background-color: $border-color;
  }
}

.btn-red {
  @include button($red-dark, $red-dark);
}

.btn-green {
  @include button($green, $green);
}
