$blue-dark: #13293D;
$blue-medium: #006494;
$blue-light: #1B98E0;

$gray-lightest: #F4F4F6;
$gray-lighter: #E8ECEC;
$gray-light: #DDE2E3;
$gray-darker: #222228;
$gray-medium: #99999c;
$gray-dark: #555559;

$green: #119822;

$red-dark: #AD343E;

$white: #fBfCfC;

$tablet: 900px;
$mobile: 500px;

$panel-shadow: -2px 2px 16px rgba($gray-darker, 0.2);
