$blue-dark: #13293D;
$blue-medium: #006494;
$blue-light: #1B98E0;

$gray-lighter: #E8ECEC;
$gray-light: #DDE2E3;
$gray-darker: #222228;
$gray-medium: #99999c;

$green: #119822;

$red-dark: #AD343E;

$white: #f8fAfB;
